*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  body{
    font-family: 'Lora';
    font-size: 18px;
    color: #292a2a;
    overflow-x: hidden;
  }

  .wrapper-container{
    max-width: 100vw;
    display: grid;  
    grid-template-columns: 50vw 50vw;
    /* grid-template-columns: 1fr 1fr; */
        grid-template-areas:
        "nav-bar right-side"
        "left-side right-side"; 
  }

  .left-side{ grid-area: left-side; }

  .right-side{
    display: flex;
    grid-area: right-side;
    align-items: center;
    justify-content: center;
    max-height: 100vh; 
    background-color: #6868AC;
    position: sticky;
    top:0;
  }

  .right-side div{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-side img{
    width: 30%;
    filter: grayscale(100%);
    transition: filter 2s;
  }

  .right-side img:hover{ filter: grayscale(0); }

  .navigation-bar {
    grid-area: nav-bar;
    font-size: 0.8em;
    display: flex;
    background-color: white;
    padding: 2em 3.5em;
    justify-content: space-between;
    letter-spacing: 0.2em;
    z-index: 1;
    width: 100%;
  }

  .navigation-bar li a{ padding: 2em 1.5em; }
  .navigation-bar li a:hover{ background-color: #6868ac33;  }

  .navigation-bar ul{
    display: flex;
    list-style: none;
    text-align: center;
  }

  .navigation-bar a{
    text-decoration: none;
    color: #292a2a;
  }

  .navigation-bar a:hover { color: #828383; }
  .navigation-bar span{ font-weight: bold; }

  .sticky {
    position: sticky;
    top: 0;
  }

  .section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1em;
    padding: 0 9em;
  }

  .section div{ text-align: left; }
  .section div p{ padding-bottom: 1em; }
  .section li{ padding: 0.5em 0; }
  .section ul sup{ font-weight: bold; }
  .section ul{ list-style: none; }
  .section sup{ padding-right: 1em; }
  
  .important{ 
    font-style: italic;
    color: #6868AC;
  }

  h1, h2{
    letter-spacing: 0.1em;
    padding: 0.5em 0;
  }
  
  h1{ font-size: 3em; }

  #name{ 
    color: #6868AC;
    text-align: center;
   }

  h2{ font-size: 1.5em; }

  #top-btn{
    /* display: none; */
    position: fixed;
    bottom: 1em;
    right: 50vw;
    color: #6868AC;
    background-color: #6868ac33; 
    padding: 1em;  
    border-radius: 50%;
    cursor: pointer;
  }

  .hidden { display: none;  }
  #kontakt i{ padding-right: 1em; }
  #kontakt a{
    text-decoration: none;
    color: #6868AC;
  }

  #kontakt a:hover{ color: #292a2a;  }
  #top-btn:hover{ color: #adadd7;  }
  .text-animation{ z-index: -1;  }
  #menu-icon{ display: none;  }

@media only screen and (max-width: 1000px) {
  
  .wrapper-container{
    display: grid;  
    grid-template-columns: 100vw;
        grid-template-areas:
        "nav-bar"
        "right-side"
        "left-side";
     max-width: 100vw;   
  }

  .section{ max-width: 100vw; }

  .navigation-bar{
    max-width: 100vw;
    padding: 2em 2em;
  }
    .right-side{
    position: relative;
    /* margin-top: 57.187px; */
    max-width: 100vw;
    height: 100vh;
  }
    
  .sticky {
    position: fixed;
    top: 0;
  }
  #top-btn{ right: 1em;  }
  #menu-icon { display: block;  }
  #menu-icon:hover { color: #6868ac33; }

  .nav{
    background-color: white;
    margin: 0;
    position: absolute;
    right: -100%;
    top: 57.187px;
    display: flex;
    flex-direction: column;
    transition: all 800ms;
  }
  .navigation-bar li{
    background-color: white;
    padding: 2em 2em;
  }

  .nav-active{ right: 0; }
}

@media only screen and (max-width: 1200px) {
  .section{ padding: 3em 3em; }
  .navigation-bar{
    padding: 2em 1em;
    width: 100%;
  } 
}



  

